.wrapperCon{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
@media only screen and (min-width: 290px) and (max-width:974px) {

    .wrapperCon{
        margin: 0 auto;
        width: 100%;
    }

}
