.containerPopularSide {
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 0.7rem;
  text-align: center;
}
.titlePop {
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.papHeadText {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 900;
}

.popPara {
  color: #000000;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 0rem;
}

.containerPerItem {
  border-bottom: 1px solid grey;
  cursor: pointer;

}
.containerPerItem:last-child {
  border-bottom: none;
}

.itemPopular {
  padding-bottom: 0.5rem;
}

#grayScale {
  filter: none;
  -webkit-filter: grayscale(0%);
}
#grayScale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
}

.imgsidebar {
  width: 4.375rem;
  height: 4.375rem;
}
.iconClock {
  width: 0.8rem;
  height: 0.8rem;
  margin-bottom: -0.1rem;
}

.adContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.adContainer > div {
  margin: 0 auto;
}

#grayScale {
  filter: none;
  -webkit-filter: grayscale(0%);
}
#grayScale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
}
.iconClock {
  width: 0.8rem;
  height: 0.8rem;
  margin-bottom: -0.1rem;
}
.containerPerItem:last-child {
  border-bottom: none;
}

.imgsidebar {
  width: 4.375rem;
  height: 4.375rem;
}

@media only screen and (max-width: 768px) {
  .containerPerItem {
    border-bottom: none;
  }

  .containerPerItem {
    margin: 0 auto;
    padding-right: 0.2rem;
    width: 85% !important;
    height: fit-content;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
  }
  .papHeadText {
    color: #000000;
    padding-right: 0.3rem;
    font-size: 1.1rem;
    font-weight: 900;
  }
  .popPara {
    color: #000000;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 0.5rem;
    padding-right: 0.3rem;
  }
  .mImagesSliders {
    padding: 0.1rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .papHeadText {
    color: #000000;
    font-weight: 900;
    font-size: 1.1rem;
    padding-right: 0.1rem;
  }
  .popPara {
    color: #000000;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: 0.5rem;
    padding-right: 0.1rem;
  }
}
